.App {
  display: flex;
  flex-direction:  column;
  justify-content: space-between;
  row-gap: 2vh;
  height: 100vh;
  max-width: 1000px;
  text-align: center;
  color: rgba(255, 255, 255, 0.795);
  padding: 10vh;
  margin-left: auto;
  margin-right: auto;
}


